// Common button styles
%button-base {
    display: inline-block;
    padding: var(--q__spacing-md, 1rem);
    border: none;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    background-color: --q__color-bg-base;

}

// Primary button
.q-custom {
    .q-btn {
        @extend %button-base;

        &.q-btn {
            &-primary {
                @extend %button-base;
                background-color: #007bff;
                color: #fff;
        
                &:hover {
                    background-color: var(--q__color-bg-primary-hover);
                }
        
                &__content{
                    color: var(--q__color-fg-base);
                }
            }
        
            &-secondary {
                @extend %button-base;
                background-color: #6c757d;
                color: #fff;
            
                &:hover {
                    background-color: #5a6268;
                }
            }
        
            
        }
    }
}