// Common button styles
%button-base {
    display: inline-block;
    padding: 0.5em 1em;
    border: none;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    background-color: #000;

}

// Primary button
.q-btn {

    &.q-btn {
        &-custom {
            @extend %button-base;

        }
        &-primary {
            @extend %button-base;
            background-color: #007bff;
            color: #fff;
    
            &:hover {
                background-color: #0056b3;
            }
    
            &__content{
                color:red;
            }
        }
    
        &-secondary {
            @extend %button-base;
            background-color: #6c757d;
            color: #fff;
        
            &:hover {
                background-color: #5a6268;
            }
        }
    
        
    }
    
}
